@charset "UTF-8";
@font-face {
  font-family: 'Conv_Alice-Regular';
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Russo';
  font-display: swap;
  src: url("../fonts/RussoOne-Regular.ttf");
  font-weight: bold;
  font-style: normal; }

html, body {
  overflow-x: hidden !important; }

body {
  font-family: "Conv_Alice-Regular", sans-serif;
  background-color: #250054;
  padding: 0;
  margin: 0;
  color: #fff;
  min-width: 300px;
  position: relative; }
  body a {
    color: #fff;
    text-decoration: none; }
    body a:hover {
      color: #9751ed;
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
  body li {
    list-style-type: none; }
    body li:hover {
      color: #9751ed;
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1);
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      cursor: pointer; }

.table {
  background-color: #250054;
  color: #fff;
  padding: 30px;
  width: 800px;
  height: 500px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  position: relative; }
  .table-close {
    position: absolute;
    content: '';
    right: 0;
    top: 0px;
    width: 30px;
    height: 30px;
    background-image: url(../img/cancel.svg);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
            background-size: contain; }
    .table-close:hover {
      cursor: pointer;
      background-color: #9751ed;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
  .table img {
    padding: 20px;
    width: 150px;
    float: right; }
  .table td {
    border: 1px solid #fff;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    vertical-align: middle;
    border-collapse: collapse;
    text-align: center;
    font-weight: 700;
    font-size: 20px; }
  .table-wrap {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .table-open {
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.button {
  color: #fff;
  background-color: #250054;
  padding: 20px 40px;
  border: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  text-transform: uppercase;
  font-size: 18px; }
  .button:hover {
    background-color: #9751ed;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer; }
  .button:focus {
    outline: none; }

#mobile {
  display: none;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
  #mobile img {
    height: 300px;
    opacity: 0.5; }

.header {
  min-height: 80px;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 999;
  background: #250054; }
  .header__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
  .header__bg {
    background-image: url(../img/bg-head-1.jpg);
    min-height: 800px;
    padding: 0;
    margin: 0;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__bg__img {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      top: 40%;
      height: 400px;
      width: 400px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .header__bg__img img {
        height: 400px;
        width: 400px;
        opacity: 0.3; }
  .header__wrap {
    height: 800px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .header__wrapin {
    background-color: rgba(0, 0, 0, 0.5);
    height: 900px;
    width: 900px;
    margin-top: -380px;
    margin-left: -160px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .header__wrapin h1 {
      font-size: 60px;
      font-weight: 600;
      margin-top: 45%;
      font-family: "Russo", sans-serif;
      margin-bottom: 20px; }
      .header__wrapin h1 strong {
        font-size: 65px; }
    .header__wrapin h2 {
      font-size: 45px;
      font-weight: 600;
      margin-top: 0;
      font-family: "Russo", sans-serif;
      margin-bottom: 10px; }
  .header__img {
    height: 200px;
    width: 300px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__img img {
      height: 150px; }
      .header__img img:hover {
        cursor: pointer;
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2);
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
  .header-nav {
    z-index: 1;
    height: 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header-nav__tel {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .header-nav__tel span {
        margin-top: 5px;
        width: 100%;
        text-align: center;
        font-size: 14px; }
    .header-nav__logo img {
      height: 60px; }
    .header-nav__menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .header-nav__menu ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 100%;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        color: #fff;
        padding: 0; }
        .header-nav__menu ul li {
          margin: 0 15px;
          font-size: 16px; }

.mobile {
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 99;
  text-align: center;
  display: none; }
  .mobile ul {
    background-color: #250054;
    padding: 20px 60px 10px 60px;
    margin-top: 50px;
    -webkit-border-radius: 0 0 10px 10px;
            border-radius: 0 0 10px 10px; }
    .mobile ul li {
      margin: 20px 0; }

.toggle {
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 60px;
  width: 60px;
  z-index: 999;
  cursor: pointer;
  display: none; }
  .toggle:hover {
    cursor: pointer; }

.burger {
  position: absolute;
  background-color: #fff;
  z-index: 999;
  top: 15px;
  left: 0;
  width: 60px;
  height: 6px;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }
  .burger:nth-child(2) {
    top: 30px; }
  .burger:nth-child(3) {
    top: 45px; }

.open-toggle {
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.close {
  display: none;
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 60px;
  width: 60px;
  z-index: 999;
  cursor: pointer;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }
  .close:hover {
    cursor: pointer; }
  .close span:nth-child(1) {
    position: absolute;
    top: 30px;
    left: 0;
    content: '';
    width: 60px;
    height: 6px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    .close span:nth-child(1):after {
      position: absolute;
      top: 0px;
      left: 0;
      content: '';
      width: 60px;
      height: 6px;
      background-color: #fff;
      -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0);
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s; }
  .close span:nth-child(2) {
    position: absolute;
    top: 30px;
    left: 0;
    content: '';
    width: 60px;
    height: 6px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    .close span:nth-child(2):after {
      position: absolute;
      top: 0px;
      left: 0;
      content: '';
      width: 60px;
      height: 6px;
      background-color: #fff;
      -webkit-transform: scale(0);
          -ms-transform: scale(0);
              transform: scale(0);
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s; }

.open-x span:after {
  -webkit-transform: scale(1) !important;
      -ms-transform: scale(1) !important;
          transform: scale(1) !important;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  z-index: 9999; }

/* боди секция 1*/
.title {
  text-align: center;
  position: relative;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff; }
  .title h2 {
    font-size: 45px;
    margin: 15px auto;
    margin-top: 8px;
    font-family: "Russo", sans-serif; }

.assort {
  background-image: url(../img/layer1.png);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: 150% 0; }
  .assort-button {
    padding: 20px 80px;
    font-size: 26px;
    font-family: "Russo", sans-serif;
    border: none;
    background-color: red;
    color: #fff;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-shadow: 0px 0px 10px #fff;
            box-shadow: 0px 0px 10px #fff;
    margin: 40px auto; }
    .assort-button:hover {
      cursor: pointer;
      -webkit-box-shadow: 0 0 20px #fff;
              box-shadow: 0 0 20px #fff; }
  .assort-row {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 0; }
  .assort-in {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto; }
    .assort-in:nth-child(even) {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
    .assort-in img {
      -webkit-border-radius: 50%;
              border-radius: 50%;
      width: 400px;
      height: 400px;
      z-index: 10;
      -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
              box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5); }
    .assort-in__text {
      font-size: 24px;
      padding: 30px;
      margin-left: 30px;
      position: relative;
      -webkit-border-radius: 0 40% 40% 0;
              border-radius: 0 40% 40% 0;
      height: 250px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .assort-in__text p {
        text-shadow: 1px 1px 2px black; }
      .assort-in__text strong {
        line-height: 45px;
        text-shadow: 1px 1px 2px black;
        font-size: 28px;
        font-family: "Russo", sans-serif; }
        .assort-in__text strong:last-child {
          color: red;
          font-size: 32px;
          text-shadow: 2px 2px 5px #000; }
      .assort-in__text:nth-child(odd) {
        margin-right: 30px;
        margin-left: 0;
        -webkit-border-radius: 40% 0 0 40%;
                border-radius: 40% 0 0 40%;
        padding-right: 90px; }
      .assort-in__text:nth-child(even) {
        padding-left: 90px; }

.about {
  min-height: 600px;
  background-image: url(../img/rR7I_cLXkbM.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .about-title {
    margin: 0 auto;
    background-color: #250054;
    width: 100%;
    text-align: center;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff; }
    .about-title h2 {
      font-size: 45px;
      margin: 15px auto;
      margin-top: 8px;
      font-family: "Russo", sans-serif; }
  .about__text {
    margin-top: 80px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    background-color: rgba(37, 0, 84, 0.7);
    -webkit-border-radius: 8px;
            border-radius: 8px;
    text-align: center;
    padding: 20px;
    margin-bottom: 80px; }
    .about__text strong {
      text-align: center;
      font-family: "Russo", sans-serif;
      font-size: 28px; }
    .about__text p {
      text-align: left; }
    .about__text img {
      height: 100px;
      margin-top: 30px; }

.features {
  background-image: url(../img/w3HrugyOpgk.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .features-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(37, 0, 84, 0.7);
    -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    min-height: 600px;
    margin: 80px 0;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 0; }
    .features-wrap ul li {
      margin-left: 90px; }
      .features-wrap ul li:hover {
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
        color: #fff; }
      .features-wrap ul li:first-child {
        text-transform: uppercase;
        text-align: center;
        margin: auto;
        margin-top: 10px;
        padding: 20px 0 40px 0;
        font-family: "Russo", sans-serif;
        border-bottom: 2px solid #fff; }
        .features-wrap ul li:first-child:after {
          display: none; }
  .features-left {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    border-right: 1px solid #fff; }
  .features-right {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    border-left: 1px solid #fff; }
  .features-no {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 0; }
    .features-no li {
      margin: 30px 0;
      width: 100%;
      position: relative; }
      .features-no li:after {
        position: absolute;
        left: -40px;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        content: '';
        background-image: url(../img/cancel.svg);
        background-position: 0 0;
        -webkit-background-size: cover;
                background-size: cover;
        height: 30px;
        width: 30px; }
  .features-yes {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding: 0; }
    .features-yes li {
      margin: 30px 0;
      width: 100%;
      position: relative; }
      .features-yes li:after {
        position: absolute;
        left: -40px;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        content: '';
        background-image: url(../img/checked.svg);
        background-position: 0 0;
        -webkit-background-size: cover;
                background-size: cover;
        height: 30px;
        width: 30px; }

.contact {
  min-height: 600px;
  background-image: url(../img/footer.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.form {
  margin-top: 50px;
  background-color: #250054;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 50px 0;
  -webkit-border-radius: 10px;
          border-radius: 10px; }
  .form h3 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    font-family: "Russo", sans-serif;
    margin-top: 10px; }
  .form input {
    font-size: 22px;
    padding: 20px 10px 20px 20px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    border: none; }
    .form input:nth-child(2) {
      margin-right: 20px; }
    .form input:nth-child(3) {
      margin-right: 20px; }
  .form button {
    display: block;
    margin: auto;
    padding: 20px 80px;
    font-size: 26px;
    font-family: "Russo", sans-serif;
    border: none;
    background-color: red;
    color: #fff;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-shadow: 0px 0px 10px #fff;
            box-shadow: 0px 0px 10px #fff;
    margin-top: 40px; }
    .form button:hover {
      cursor: pointer;
      -webkit-box-shadow: 0 0 20px #fff;
              box-shadow: 0 0 20px #fff; }

@media (max-width: 1589px) {
  .assort {
    background-position: 190% 0; } }

@media (max-width: 1506px) {
  .assort {
    background-position: 210% 0; } }

@media (max-width: 1412px) {
  .assort {
    background-position: 230% 0; } }

@media (max-width: 1346px) {
  .assort {
    background-position: 255% 0; } }

@media (max-width: 1286px) {
  .assort {
    background-position: 285% 0; } }

@media (max-width: 1236px) {
  .assort {
    background-position: 320% 0; } }

@media (max-width: 1199px) {
  .form input {
    width: 250px; }
  .features-wrap ul {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .features-wrap ul li {
      margin-left: 60px;
      padding-right: 70px; }
  .assort {
    background-position: 800px 0; }
  .header-nav__menu {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .header-nav__tel {
    display: none; } }

@media (max-width: 993px) {
  .form input {
    width: 200px;
    font-size: 18px; }
  .about-title h2 {
    font-size: 30px; }
  .features {
    padding: 0;
    margin: 0; }
    .features-wrap {
      height: 300px !important; }
      .features-wrap ul {
        padding: 0;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start; }
        .features-wrap ul li {
          font-size: 15px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
                  flex-wrap: wrap; }
          .features-wrap ul li:first-child {
            margin-top: 30px;
            margin-left: 0 !important;
            padding: 20px 0 40px 0;
            margin-bottom: 10px;
            padding-right: 0 !important;
            text-align: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center; }
    .features-yes {
      margin: 0;
      padding-right: 20px; }
      .features-yes li {
        margin-left: 55px !important;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        font-size: 14px; }
    .features-no {
      margin: 0; }
      .features-no li {
        margin-left: 55px !important;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        font-size: 14px; }
  .assort {
    background-image: none; }
    .assort-in__text {
      padding: 0 !important; }
  #mobile {
    display: block; }
  #logo {
    display: none; }
  .header__wrap img {
    left: 0; }
  .header__row {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header-nav__menu {
    display: none; }
  .header-nav__tel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .header-nav__logo img {
    height: 60px; }
  .header__wrapin {
    margin-top: -380px; }
  .toggle {
    display: block; }
  .close {
    display: block; } }

@media (max-width: 768px) {
  .form-in {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .form-in h3 {
      font-size: 22px;
      padding: 0 20px;
      margin: 0;
      margin-bottom: 20px; }
    .form-in input {
      margin: 15px 0 !important;
      width: 70%; }
    .form-in button {
      width: 70%;
      font-size: 18px;
      padding: 20px 0; }
  .about-title {
    padding-left: 40px;
    padding-right: 40px; }
  .features-wrap ul li {
    margin: 20px auto; }
  .features-yes li:first-child {
    height: 98px !important; }
  .assort {
    background-image: none; }
    .assort-row {
      padding: 40px 0; }
    .assort-in img {
      width: 300px;
      height: 300px; }
    .assort-in__text {
      font-size: 20px; }
  .header-nav__tel {
    display: none; }
  .header__wrapin {
    margin-left: -250px; }
    .header__wrapin h1 {
      font-size: 45px;
      margin-top: 350px;
      margin-bottom: 30px;
      width: 960px;
      text-align: left;
      margin-left: 60%; }
      .header__wrapin h1 strong {
        font-size: 55px; }
    .header__wrapin h2 {
      font-size: 35px;
      margin-left: 20px;
      text-align: left; }
    .header__wrapin img {
      margin-top: 30px; }
  .toggle {
    left: 90%; }
  .close {
    left: 90%; }
  .mobile {
    right: 0;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); } }

@media (max-width: 650px) {
  .assort-in img {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    margin-top: 20px; }
  .assort-in__text {
    font-size: 14px;
    margin-bottom: 20px; }
    .assort-in__text strong {
      font-size: 18px;
      line-height: 24px;
      margin: 30px auto; }
    .assort-in__text p {
      padding-left: 20px;
      padding-right: 20px; } }

@media (max-width: 600px) {
  .assort-in img {
    height: 200px;
    width: 200px; } }

@media (max-width: 578px) {
  .table td {
    font-size: 12px;
    font-weight: 400; }
  .about__text p {
    font-size: 14px;
    line-height: 22px; }
  .about__text img {
    height: 60px; }
  .assort {
    background-image: none; }
    .assort-in img {
      width: 200px;
      height: 200px; }
    .assort-in__text {
      font-size: 16px;
      margin-bottom: 20px; }
  .header__wrapin {
    margin-left: -190px; }
    .header__wrapin h1 {
      text-align: center;
      margin-left: 0; }
    .header__wrapin h2 {
      text-align: center; }
  .mobile {
    width: 100%;
    left: 0;
    top: 20px; } }

@media (max-width: 550px) {
  .header__wrapin {
    width: 800px;
    margin-top: -440px;
    margin-left: -150px; }
    .header__wrapin h1 {
      margin-top: 440px; }
  #mobile {
    top: 80%; }
  #mobile {
    top: 60%; } }

@media (max-width: 530px) {
  .features-wrap {
    min-height: 520px !important; }
  .assort-in__text {
    margin-right: 0 !important; }
    .assort-in__text p {
      padding: 0 10px; }
  .features-no li, .features-yes li {
    font-size: 12px !important; }
  .features-yes li:first-child {
    margin: 0 !important;
    padding-top: 50px !important;
    padding-bottom: 54px !important; }
  .header__wrapin {
    margin-left: -170px; } }

@media (max-width: 504px) {
  .header__wrapin {
    margin-left: -180px; }
    .header__wrapin h1 {
      font-size: 35px; }
      .header__wrapin h1 strong {
        font-size: 40px; }
    .header__wrapin h2 {
      font-size: 28px; }
    .header__wrapin img {
      height: 100px; } }

@media (max-width: 480px) {
  .features-no li, .features-yes li {
    font-size: 12px !important; }
  .features-yes li:first-child {
    margin: 0 !important;
    padding-top: 50px !important;
    padding-bottom: 68px !important; }
  .title h2 {
    font-size: 35px;
    margin: 10px auto; }
  .assort {
    background-image: none; }
    .assort-row {
      padding: 20px 0; }
    .assort-in img {
      width: 170px;
      height: 170px; }
    .assort-in__text {
      font-size: 15px; } }

@media (max-width: 470px) {
  .header__wrapin {
    margin-left: -200px; } }

@media (max-width: 440px) {
  .features-yes li:after, .features-no li:after {
    display: none; }
  .features-yes li {
    padding: 0;
    text-align: center !important;
    margin: 10px auto !important;
    width: 100% !important;
    padding: 10px !important; }
  .features-no li {
    padding: 0;
    text-align: center !important;
    margin: 10px auto !important;
    width: 100% !important;
    padding: 10px !important; }
  .features-yes li:first-child {
    margin: 0 !important;
    padding-top: 40px !important;
    padding-bottom: 8px !important; }
  .features-no {
    text-align: center !important; }
    .features-no li:first-child {
      margin: 0 !important;
      padding-top: 40px !important;
      padding-bottom: 28px !important; }
  .features-wrap ul li:first-child {
    padding-right: 20px !important; }
  .features-wrap {
    min-height: 520px !important; } }

@media (max-width: 430px) {
  .features-wrap {
    min-height: 480px !important; }
  .header__wrapin {
    margin-left: -220px; } }

@media (max-width: 409px) {
  .assort {
    background-image: none; }
    .assort-in {
      margin: 0;
      padding: 0 10px;
      height: 200px; }
      .assort-in img {
        width: 140px;
        height: 140px; }
      .assort-in__text {
        font-size: 13px;
        margin-bottom: 0; } }

@media (max-width: 400px) {
  .header__wrapin {
    margin-left: -230px; }
  .header__wrap h1 {
    font-size: 30px; } }

@media (max-width: 398px) {
  .features-wrap {
    min-height: 500px !important; }
  .features-yes li:first-child {
    padding-bottom: 60px !important;
    padding-top: 50px !important; } }

@media (max-width: 390px) {
  .header__wrapin {
    margin-left: -230px; }
    .header__wrapin h1 {
      font-size: 30px; }
      .header__wrapin h1 strong {
        font-size: 35px; }
    .header__wrapin h2 {
      font-size: 22px; } }

@media (max-width: 380px) {
  .features-yes li:first-child {
    padding-bottom: 66px !important;
    padding-top: 50px !important; }
  .header__wrapin {
    margin-left: -230px; }
  .assort {
    background-image: none; }
    .assort-in {
      margin: 0;
      padding: 0 10px;
      height: 160px; }
      .assort-in img {
        width: 110px;
        height: 110px; }
      .assort-in__text {
        font-size: 12px;
        margin-bottom: 0; } }

@media (max-width: 360px) {
  .header__wrapin {
    margin-left: -250px; } }

@media (max-width: 350px) {
  .header__row {
    height: 60px; }
  .header-nav__logo img {
    height: 40px; }
  .header__wrapin {
    margin-left: -245px; } }

@media (max-width: 340px) {
  .header__wrapin {
    margin-left: -250px; } }

@media (max-width: 330px) {
  .features-wrap {
    min-height: 520px !important; }
  .assort-in {
    margin: 10px auto; }
  .header__wrapin {
    margin-left: -260px; } }

@media (max-width: 320px) {
  .header__wrapin {
    margin-left: -255px; } }
