@media (max-width: 1199px)
  .header
    &__wrap
      position: relative
      top: 0
    &-nav
      &__menu
        justify-content: space-around
      &__tel
        display: none
    
@media (max-width: 996px)
  .header
    &__row
      justify-content: space-between
    &-nav
      &__menu
        display: none
      &__tel
        display: flex
      &__logo
        img
          height: 60px
  .toggle
    display: block
  .close
    display: block

@media (max-width: 768px)
  .header
    &-nav
      &__tel
        display: none
  .toggle
    left: 90%
  .close
    left: 90%
  .mobile
    right: 0
    transform: translateX(0)
@media (max-width: 578px)
  .header
    &__wrap
      h1
        font-size: 35px
  .mobile
    width: 100%
    left: 0
@media (max-width: 400px)
  .header
    &__wrap
      h1
        font-size: 30px
@media (max-width: 350px)
  .header
    &__row
      height: 60px
    &-nav
      &__logo
        img
          height: 40px
  



  



  