@font-face 
	font-family: 'Conv_Alice-Regular'
	font-display: swap
	src: url('../fonts/Montserrat-Regular.ttf')
	font-weight: normal
	font-style: normal




$reg: "Conv_Alice-Regular", sans-serif
$bold: "ProximaNova-Bold", sans-serif
$dcolor: #250054
$licolor: #e5d7f6
$acolor: #9751ed


